body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.pregunta {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="button"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

#resultados {
    margin-top: 20px;
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

*{
  font-family: 'Nunito',sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
}

section{
  padding: 2rem 9%;
}

/* header */

.header{
  position: fixed;
  top: 0; left: 0; right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  z-index: 2;
  background-color: #87CEEB;
}

.header .logo img{
  height: 6rem;
}

.header .navbar #close{
  display: none;
  position: absolute;
  top: 4rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
}

.header .navbar a{
  font-size: 2rem;
  margin-right: 2rem;
  color: #fff;
  text-decoration: none;
}

.header .navbar a:hover{
  color: #4c859b;
}

.header #menu{
  display: none;
  cursor: pointer;
  font-size: 2.5rem;
  color: #fff;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width:768px){

    .header #menu{
      display: inline-block;
    }
  
    .header .navbar{
      position: fixed;
      top: 0; right: -105%;
      width: 30rem;
      background: #87CEEB;
      backdrop-filter: blur(50px);
      transition: .5s;
      display: flex;
      flex-flow: column;
      justify-content: center;
      z-index: 1200;
    }
  
    .header .navbar.active{
      right: 0;
    }
  
    .header .navbar #close{
      display: block;
    }
  
    .header .navbar a{
      display: block;
      margin: 1rem 0;
      text-align: center;
      font-size: 3rem;
      text-decoration: none;
    }
  
  
  }


  @media (max-width:450px){
    html{
      font-size: 50%;
    }
  }

  .titulo-denuncua {
    font-size: 3rem;

  }

  .denuncia {
    padding-top: 5px;
    font-size: 1.5rem;
  }

  .btn-denuncia:hover {
    opacity: 0.8;
  }

  
 /* Footer */

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}



.footer-basic {
  bottom: 0;
  position: fixed;
  padding-bottom: 3rem;
  background-color: #cccccc;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}